################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Release/netcoreapp3.1
/.vs/rest2icap.github/v16
/.vs/REST2ICAP/v16
/.vs


**/.DS_Store
**/bucket-name.txt
**/.idea
